* {
  font-family: sans-serif;
}

body {
  background: url('images/clouds.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  position: relative;
  top: 5vw;
  width: 25vw;
  text-align: center;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.15);
  padding: 1.5vw;
  border-radius: 25%;
}

.location {
  font-size: 3vw;
}

img {
  margin: 1vw;
  width: 18vw;
}

.weather {
  font-size: 1.5vw;
}

.temperature {
  font-size: 5vw;
}

button {
  font-size: 1vw;
  margin: 1vw 0;
  border-radius: 2vw;
  outline: none;
  font-weight: bold;
}

a {
  font-size: 0.75vw;
  text-decoration: none;
  color: #555;
}
